.background-about {
    position: relative;
    padding: 0;
    top: 80px;
  }
  .background-about img {
    width: 90%;
    height: 100vh;
  }
  .background-header-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/bodymist-home.jpg) center/cover no-repeat;
    height: 50vh;
  }