nav {
    background: $secondarycolor;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 80px;
    line-height: 80px;
}
nav .header {
    position: relative;
    max-width: 100%;
    padding: 0 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .nav-header {
    display: inline-flex;
}
.nav-header li {
    list-style: none;
    cursor: pointer;
}
.nav-header li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: $textcolor;
    padding: 10px 16px;
    transition: 0.3s;
    border-radius: 5px;
    height: 100%;
}
.nav-header li a.title-menu{
    margin: 0 8px;
}
.nav-header li:hover a.title-menu {
    background: rgba(253, 246, 235, 0.4);
}
.men-box {
    position: absolute;
    top: -500%;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.men-show:hover .men-box {
    top: auto;
    bottom: 0;
    transform: translatey(100%);
    opacity: 1;
    visibility: visible;
}
.men-box .men-content {
    background: $secondarycolor;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}
.men-content .men-row {
    width: calc(25% - 30px);
    line-height: 45px;
}
.men-content .men-row img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.men-content .men-row header {
    color: $textcolor;
    font-size: 20px;
    font-weight: 600;
}
.men-content .men-row .men-links {
    border-left: 1px solid rgba(233, 205, 194, 0.9);
}
.men-content .men-row:nth-child(1),
.men-content .men-row:nth-child(2){
    border-left: 0px;
}
.men-row .men-links li {
    padding: 0 8px;
}
.men-row .men-links li a {
    padding: 0 12px;
    color: #2c3e50;
    font-size: 16px;
    display: block;
}
.men-row .men-links li:hover a{
    background: rgba(1, 65, 156, 0.09);
}
//css women's header//
.women-box {
    position: absolute;
    top: -500%;
    bottom: auto;
    width: 100%;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: .5s;
    visibility: hidden;
}
.women-show:hover .women-box {
    top: auto;
    bottom: 0;
    transform: translatey(100%);
    opacity: 1;
    visibility: visible;
}
.women-box .women-content {
    background: $secondarycolor;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
}
.women-content .women-row {
    width: calc(25% - 30px);
    line-height: 45px;
}
.women-content .women-row img {
    width: 90%;
    height: 300px;
    object-fit: cover;
}
.women-content .women-row header {
    color: $textcolor;
    font-size: 20px;
    font-weight: 600;
}
.women-content .women-row .women-links {
    border-left: 1px solid rgba(233, 205, 194, 0.9);
}
.women-content .women-row:nth-child(1),
.women-content .women-row:nth-child(2){
    border-left: 0px;
}
.women-row .women-links li {
    padding: 0 8px;
}
.women-row .women-links li a {
    padding: 0 12px;
    color: #2c3e50;
    font-size: 16px;
    display: block;
}
.women-row .women-links li:hover a{
    background: rgba(1, 65, 156, 0.09);
}

@media  screen and (max-width: 970px) {
    .header .nav-header {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        background: $primarycolor;
        display: block;
        top: 0;
        left: 0;
        overflow-y: auto;
        line-height: 50px;
        padding: 50px 10px;
        box-shadow: 0 15px 15px rgba(0,0,0,0.15);
    }
     .nav-header li {
        margin: 15px 10px;
    }
     .nav-header li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }
    .nav-header .men-box {
        position: unset;
        width: 100%;
        padding: 0 20px;
        display: none;
    }
    .men-show:hover .men-box{
        transform: unset;
        display: block;
    }
    .men-box .men-content {
        background: $secondarycolor;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .men-content .men-row:nth-child(1),
    .men-content .men-row:nth-child(2) {
        border-top: 0px;
    }
    .men-box .men-content .men-row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }

    .men-content .men-row .men-links {
        border-left: 0px;
        padding-left: 15px;
    }
    .men-row .men-links li {
        margin: 0;
    }
    .men-content .men-row .header {
        font-size: 19px;
    }

    .nav-header .women-box {
        position: unset;
        width: 100%;
        padding: 0 20px;
        display: none;
    }
    .women-show:hover .women-box{
        transform: unset;
        display: block;
    }
    .women-box .women-content {
        background: $secondarycolor;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }
    .women-content .women-row:nth-child(1),
    .women-content .women-row:nth-child(2) {
        border-top: 0px;
    }
    .women-box .women-content .women-row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }

    .women-content .women-row .women-links {
        border-left: 0px;
        padding-left: 15px;
    }
    .women-row .women-links li {
        margin: 0;
    }
    .women-content .women-row .header {
        font-size: 19px;
    }
}