
.home {
    position: relative;
    padding: 0;
    top: 80px;
}
.home img {
    width: 90%;
    height: 100vh;
}
.background-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/background-content1.jpg) center/cover no-repeat;
    height: 50vh;
}
.home .slide {
    padding: 6rem;
    height: 60vh;
    display: none;
}
.home .slide .content {
    margin: 70px;
    text-align: left;
    padding-top: 4rem;
}
.home .slide .content span {
    color: $secondarycolor;
    display: block;
    font-size: 5rem;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    animation: fadeIn .2s linear backwards;
    text-transform: uppercase;
}
.slide .content span:hover {
    color: $textcolor;
}
.home .slide .content h3 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
    animation: fadeIn .2s linear backwards .4s;
    padding: 50px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
.slide .content .content-btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    color: black;
    font-size: 1.7rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
    animation: fadeIn .2s linear backwards 0.6s;
    background: $primarycolor;
    text-decoration: none;
    border-radius: 5px;
}
.content-btn:hover {
    letter-spacing: .1rem;
}
.home #next-slide,
.home #prev-slide {
    height: 5rem;
    width: 5rem;
    line-height: 4.5rem;
    font-size: 2.5rem;
    color: #222;
    border: 0.2rem solid #222;
    background: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    text-align: center;
}
.category {
    position: relative;
    top: 100px;
    padding: 0;
}
.category .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}
.category .box-container .box-cate {
    text-align: center;
    text-decoration: none;
}
.category .box-container .box-cate:hover h3 {
    color: bisque;
}
.category .box-container .box-cate img {
    height: 14rem;
    margin-bottom: 1rem;
    width: 90%;
    border-radius: 5px;
}
.category .box-container .box-cate h3 {
    font-size: 1.2rem;
    color: $textcolor;
    font-weight: normal;
}

.about {
    position: relative;
    top: 100px;
    padding: 0;
}
.about-us {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 60px 100px;
}
.about-us .img-about {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: start;
    border-radius: 5px;
}
.about-us .img-about img{
    width: 80%;
    height: 50%;
    object-fit: cover;
    box-shadow: 4rem 4rem 0 #eee;
    border-radius: 5px;
}
.about-us .content-us {
    flex: 1 1 42rem;
    height: 100vh;
}
.about-us .content-us .box-us {
    padding: 3rem;
    background: #eee;
    height: 60vh;
    border-radius: 5px;
}
.about-us .content-us .box-us a {
    background: $primarycolor;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    color: black;
    transition: 0.3s;
}
.about-us .content-us .box-us a:hover {
    background: rgba(233, 205, 194, 1);
    font-size: 18px;
    color: $textcolor;
}
.about-us .content-us .box-us h3 {
    font-size: 2.5rem;
    color: #222;
}
.about-us .content-us .box-us p {
    padding: 1rem 0;
    line-height: 2;
    color: #666;
    font-size: 1.4rem;
}
.about-us .content-us .icons-container-us {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    margin-top: 2rem;
}
.about-us .content-us .icons-container-us .icons-us {
    flex: 1 1 16rem;
    background: #eee;
    padding: 2rem;
    text-align: center;
}
.about-us .content-us .icons-container-us .icons-us i {
    color: $primarycolor;
    margin-bottom: 1rem;
    font-size: 5rem;
}
.about-us .content-us .icons-container-us .icons-us p {
    font-size: 16px;
    color: $textcolor;
}