nav {
  background: #fdf6eb;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 80px;
  line-height: 80px; }

nav .header {
  position: relative;
  max-width: 100%;
  padding: 0 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header .nav-header {
  display: inline-flex; }

.nav-header li {
  list-style: none;
  cursor: pointer; }

.nav-header li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: #01419c;
  padding: 10px 16px;
  transition: 0.3s;
  border-radius: 5px;
  height: 100%; }

.nav-header li a.title-menu {
  margin: 0 8px; }

.nav-header li:hover a.title-menu {
  background: rgba(253, 246, 235, 0.4); }

.men-box {
  position: absolute;
  top: -500%;
  bottom: auto;
  width: 100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: .5s;
  visibility: hidden; }

.men-show:hover .men-box {
  top: auto;
  bottom: 0;
  transform: translatey(100%);
  opacity: 1;
  visibility: visible; }

.men-box .men-content {
  background: #fdf6eb;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between; }

.men-content .men-row {
  width: calc(25% - 30px);
  line-height: 45px; }

.men-content .men-row img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.men-content .men-row header {
  color: #01419c;
  font-size: 20px;
  font-weight: 600; }

.men-content .men-row .men-links {
  border-left: 1px solid rgba(233, 205, 194, 0.9); }

.men-content .men-row:nth-child(1),
.men-content .men-row:nth-child(2) {
  border-left: 0px; }

.men-row .men-links li {
  padding: 0 8px; }

.men-row .men-links li a {
  padding: 0 12px;
  color: #2c3e50;
  font-size: 16px;
  display: block; }

.men-row .men-links li:hover a {
  background: rgba(1, 65, 156, 0.09); }

.women-box {
  position: absolute;
  top: -500%;
  bottom: auto;
  width: 100%;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: .5s;
  visibility: hidden; }

.women-show:hover .women-box {
  top: auto;
  bottom: 0;
  transform: translatey(100%);
  opacity: 1;
  visibility: visible; }

.women-box .women-content {
  background: #fdf6eb;
  padding: 24px 20px;
  display: flex;
  justify-content: space-between; }

.women-content .women-row {
  width: calc(25% - 30px);
  line-height: 45px; }

.women-content .women-row img {
  width: 90%;
  height: 300px;
  object-fit: cover; }

.women-content .women-row header {
  color: #01419c;
  font-size: 20px;
  font-weight: 600; }

.women-content .women-row .women-links {
  border-left: 1px solid rgba(233, 205, 194, 0.9); }

.women-content .women-row:nth-child(1),
.women-content .women-row:nth-child(2) {
  border-left: 0px; }

.women-row .women-links li {
  padding: 0 8px; }

.women-row .women-links li a {
  padding: 0 12px;
  color: #2c3e50;
  font-size: 16px;
  display: block; }

.women-row .women-links li:hover a {
  background: rgba(1, 65, 156, 0.09); }

@media screen and (max-width: 970px) {
  .header .nav-header {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    background: #e9cdc2;
    display: block;
    top: 0;
    left: 0;
    overflow-y: auto;
    line-height: 50px;
    padding: 50px 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15); }
  .nav-header li {
    margin: 15px 10px; }
  .nav-header li a {
    padding: 0 20px;
    display: block;
    font-size: 20px; }
  .nav-header .men-box {
    position: unset;
    width: 100%;
    padding: 0 20px;
    display: none; }
  .men-show:hover .men-box {
    transform: unset;
    display: block; }
  .men-box .men-content {
    background: #fdf6eb;
    flex-direction: column;
    padding: 20px 20px 0 20px; }
  .men-content .men-row:nth-child(1),
  .men-content .men-row:nth-child(2) {
    border-top: 0px; }
  .men-box .men-content .men-row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08); }
  .men-content .men-row .men-links {
    border-left: 0px;
    padding-left: 15px; }
  .men-row .men-links li {
    margin: 0; }
  .men-content .men-row .header {
    font-size: 19px; }
  .nav-header .women-box {
    position: unset;
    width: 100%;
    padding: 0 20px;
    display: none; }
  .women-show:hover .women-box {
    transform: unset;
    display: block; }
  .women-box .women-content {
    background: #fdf6eb;
    flex-direction: column;
    padding: 20px 20px 0 20px; }
  .women-content .women-row:nth-child(1),
  .women-content .women-row:nth-child(2) {
    border-top: 0px; }
  .women-box .women-content .women-row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08); }
  .women-content .women-row .women-links {
    border-left: 0px;
    padding-left: 15px; }
  .women-row .women-links li {
    margin: 0; }
  .women-content .women-row .header {
    font-size: 19px; } }

.home {
  position: relative;
  padding: 0;
  top: 80px; }

.home img {
  width: 100%;
  height: 100vh; }

.home .slide {
  padding: 7rem;
  display: flex;
  min-height: 60vh;
  display: none; }

.home .slide .content {
  margin: 70px;
  text-align: left;
  padding-top: 4rem; }

.home .slide.active {
  display: flex; }

.home .slide .content span {
  color: #fdf6eb;
  display: block;
  font-size: 5rem;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  animation: fadeIn .2s linear backwards;
  text-transform: uppercase; }

.slide .content span:hover {
  color: #01419c; }

.home .slide .content h3 {
  font-size: 2rem;
  color: #fff;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  animation: fadeIn .2s linear backwards .4s;
  padding: 50px 0;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal; }

.slide .content .content-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: black;
  font-size: 1.7rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
  animation: fadeIn .2s linear backwards 0.6s;
  background: #e9cdc2;
  text-decoration: none;
  border-radius: 5px; }

.content-btn:hover {
  letter-spacing: .1rem; }

.home #next-slide,
.home #prev-slide {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2.5rem;
  color: #222;
  border: 0.2rem solid #222;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: center; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif; }

section {
  padding: 80px 0; }
