<div class="foot-row">
    <div class="foot-infor">
        <img src="img/logo.png" alt="">
        <h3>Tiệm Navie - Thiên đường mỹ phẩm chính hãng</h3>
        <p>tiemnavie@gmail.com</p>
        <p>033 608 4902 | 090 405 6915</p>
        <p>Tháp X2, chung cư Sunrise, Nguyễn Hũu Thọ, phường Tân Hưng, quận 7, tp. Hồ Chí Minh.</p>
    </div>
    <div class="foot-col">
        <h3>Chăm sóc khách hàng</h3>
        <a href="">Chính sách đổi trả</a>
        <a href="">Chính sách bảo mật</a>
        <a href="">Chính sách thanh toán</a>
        <a href="">Điều khoản dịch vụ</a>
        <a href="">Hướng dẫn mua hàng</a>
        <a href="">Hướng dẫn thanh toán</a>
        <a href="">Góp ý, khiếu nại</a>
    </div>
    <div class="foot-time">
        <h3>Giờ mở cửa</h3>
        <p>Từ 9:00 - 21:30 tất cả các ngày trong tuần (bao gồm cả các ngày lễ, ngày Tết).</p>
        <h3>Góp ý, khiếu nại</h3>
        <p>033 608 4902 | 090 405 6915</p>
    </div>
    <div class="foot-about">
        <h3>Thông tin Tiệm Navie</h3>
        <a href="">Giới thiệu chúng tôi</a>
        <a href="">Liên hệ</a>
    </div>
</div>