<div class="foot-row">
    <div class="foot-col">
        <img src="img/logo.png" alt="">
        <p>ádiasdkjkhkjhaskjdhkjaskdjh</p>
    </div>
    <div class="foot-col"></div>
    <div class="foot-col"></div>
    <div class="foot-col"></div>
</div>