<nav class="header-list">
      <div class="show-list">
        <div class="header-column">
          <img src="/img/logo.png" alt="">
        </div>
        <div class="drop-down__header home-page">
            <a href="/">Home</a>
        </div>
        <div class="drop-down__header product-page">
            <a href="/product">Products</a>
        </div>
        <div class="drop-down__header login-page">
          <ul class="Account-show">
            <li><a class="header-login" href="/login">Log In</a></li>
          </ul>
        </div>
        {{!-- child nav products --}}
        <div class="product-show" >
            <div class="menu-product">
                <span><a href="">Men's products</a></span>
                <span><a href="">Women's products</a></span>
                <span><a href="">Gift sets</a></span>
            </div>
            <div class="content__menu-product">
                <ul class="men-show">
                    <li><a href="">Nước hoa</a></li>
                    <li><a href="">Tắm và dưỡng thể</a></li>
                    <li><a href="">Chăm sóc tóc</a></li>
                </ul>
                <ul class="women-show">
                    <li><a href="">Nước hoa</a></li>
                    <li><a href="">Tắm và dưỡng thể</a></li>
                    <li><a href="">Chăm sóc tóc</a></li>
                </ul>
                <ul class="gift-show">
                    <li><a href="">Combo quà sinh nhật</a></li>
                    <li><a href="">Combo quà 8-3</a></li>
                    <li><a href="">Combo khuyến mãi</a></li>
                </ul>
            </div>
          </div>
          {{!-- end --}}
      </div>
  </nav>
