<nav>
    <div class="header">
        <div class="logo"><img src="" alt="">Tiem Navie</div>
        <ul class="nav-header">
            <li><a class="title-menu" href="">Home</a></li>
            <li class="men-show">
                <a class="title-menu men-title" href="">Men's</a>
                <div class="men-box"> 
                    <div class="men-content">
                        <div class="men-row">
                            <img src="/img/men-shower.jpg" alt="">
                        </div>
                        <div class="men-row">
                            <header>Chăm sóc tóc</header>
                            <ul class="men-links">
                                <li><a href="">Tinh dầu dưỡng tóc</a></li>
                                <li><a href="">Dầu gội và dầu xã</a></li>
                                <li><a href="">Sản phẩm khác</a></li>
                            </ul>
                        </div>
                        <div class="men-row">
                            <header>Chăm sóc body</header>
                            <ul class="men-links">
                                <li><a href="">Sữa tắm</a></li>
                                <li><a href="">Kem dưỡng da</a></li>
                                <li><a href="">Nước hoa</a></li>
                            </ul>
                        </div>
                        <div class="men-row">
                            <header>Gift Set</header>
                            <ul class="men-links">
                                <li><a href="">Combo quà tặng</a></li>
                                <li><a href="">Nhận set up quà theo yêu cầu</a></li>
                                <li><a href="">Sản phẩm khác</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="women-show">
                <a class="title-menu women-title" href="">Women's</a>
                <div class="women-box"> 
                    <div class="women-content">
                        <div class="women-row">
                            <img src="/img/women-shower.jpg" alt="">
                        </div>
                        <div class="women-row">
                            <header>Chăm sóc tóc</header>
                            <ul class="women-links">
                                <li><a href="">Tinh dầu dưỡng tóc</a></li>
                                <li><a href="">Dầu gội và dầu xã</a></li>
                                <li><a href="">Sản phẩm khác</a></li>
                            </ul>
                        </div>
                        <div class="women-row">
                            <header>Chăm sóc da mặt</header>
                            <ul class="women-links">
                                <li><a href="">Sữa rửa mặt</a></li>
                                <li><a href="">Kem dưỡng</a></li>
                                <li><a href="">Các sản phẩm khác</a></li>
                            </ul>
                        </div>
                        <div class="women-row">
                            <header>Chăm sóc body</header>
                            <ul class="women-links">
                                <li><a href="">Sữa tắm</a></li>
                                <li><a href="">Kem dưỡng da</a></li>
                                <li><a href="">Nước hoa</a></li>
                            </ul>
                        </div>
                        <div class="women-row">
                            <header>Gift Set</header>
                            <ul class="women-links">
                                <li><a href="">Combo quà tặng</a></li>
                                <li><a href="">Nhận set up quà theo yêu cầu</a></li>
                                <li><a href="">Sản phẩm khác</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="title-menu" href="">Contact</a></li>
            <li><a class="title-menu" href="">Login</a></li>
        </ul>
    </div>
</nav>