
<section class="contact">
    <div class="content-contact">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <h3>Address</h3>
          <div class="text-one">Tháp X2, chung cư Sunrise, Nguyễn Hũu Thọ, phường Tân Hưng, quận 7, Hồ Chí Minh.</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <h3>Phone</h3>
          <div class="text-one">0336084902</div>
          <div class="text-two"> 0904056915</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <h3>Email</h3>
          <div class="text-one">tiemnavie@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <h2>Send us a message</h2>
      <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Enter your name">
        </div>
        <div class="input-box">
          <input type="text" placeholder="Enter your email">
        </div>
        <div class="input-box message-box">
          
        </div>
        <div class="button">
          <input type="button" value="Send Now" >
        </div>
      </form>
    </div>
    </section>