<div>
<section class="home" id="home">
    <div class="background-header">   
      <div class="content">
        {{!-- <span>forever <br> beautiful</span>
        <h3>Body mist là gì? Bạn đã biết sự khác biệt giữa body mist và nước hoa là như thế nào? Đối tượng sử dụng body mist gồm những ai? Hãy cùng Navie tìm hiểu ngay!</h3> --}}
        {{!-- <a href="#" class="content-btn">Read more</a> --}}
      </div>
    </div>
        <div class="slide" style="background:url(img/women-shower.jpg) left top/ no-repeat;">   
      <div class="content">
        <span>forever <br> beautiful</span>
        <h3>asdad asdasd asdasdasd asdasdasdasd asdasd.</h3>
        <a href="#" class="content-btn">Read more</a>
      </div>
    </div>
        <div class="slide" style="background:url(img/women-shower.jpg) no-repeat; background-size:cover; background-position: center;">   
      <div class="content">
        <span>forever <br> beautiful</span>
        <h3>asdad asdasd asdasdasd asdasdasdasd asdasd.</h3>
        <a href="#" class="content-btn">Read more</a>
      </div>
    </div>
</section>
<section class="category">
  <div class="box-container">
    <a href="#" class="box-cate">
      <img src="img/skincare-home.jpg" alt="">
      <h3>Skincare</h3>
    </a>

    <a href="#" class="box-cate">
      <img src="img/lips-home.jpg" alt="">
      <h3>Lips</h3>
    </a>

    <a href="#" class="box-cate">
      <img src="img/hair-home.jpg" alt="">
      <h3>Hair</h3>
    </a>

    <a href="#" class="box-cate">
      <img src="img/content-home2.jpg" alt="">
      <h3>Eyes</h3>
    </a>

    <a href="#" class="box-cate">
      <img src="img/bodymist-home.jpg" alt="">
      <h3>Body mist</h3>
    </a>
  </div>

</section>
<section class="about" id="about">
  <div class="about-us">
    <div class="img-about">
        <img src="img/about-us.jpg" alt="">
    </div>
    <div class="content-us">
      <div class="box-us">
          <h3>About Us</h3>
          <p></p>
          <a href="#" class="btn-us">Read more</a>
      </div>
      <div class="icons-container-us">
        <div class="icons-us">
          <i class="fas fa-address-card"></i>
          <p>address card</p>
        </div>
        <div class="icons-us">
          <i class="fas fa-address-card"></i>
          <p>award card</p>
        </div>
        <div class="icons-us">
          <i class="fas fa-address-card"></i>
          <p>gift card</p>
        </div>
      </div>
    </div>
    </div>
</section>
</div>
