<section class="home" id="home">
    <div class="slide active" style="background:url(img/background-content1.jpg) no-repeat; background-size:cover; background-position: center;">   
      <div class="content">
        {{!-- <span>forever <br> beautiful</span>
        <h3>Body mist là gì? Bạn đã biết sự khác biệt giữa body mist và nước hoa là như thế nào? Đối tượng sử dụng body mist gồm những ai? Hãy cùng Navie tìm hiểu ngay!</h3> --}}
        {{!-- <a href="#" class="content-btn">Read more</a> --}}
      </div>
    </div>
        <div class="slide" style="background:url(img/women-shower.jpg) no-repeat; background-size:cover; background-position: center;">   
      <div class="content">
        <span>forever <br> beautiful</span>
        <h3>asdad asdasd asdasdasd asdasdasdasd asdasd.</h3>
        <a href="#" class="content-btn">Read more</a>
      </div>
    </div>
        <div class="slide" style="background:url(img/women-shower.jpg) no-repeat; background-size:cover; background-position: center;">   
      <div class="content">
        <span>forever <br> beautiful</span>
        <h3>asdad asdasd asdasdasd asdasdasdasd asdasd.</h3>
        <a href="#" class="content-btn">Read more</a>
      </div>
    </div>
</section>