<div class="admin">
    <div class="add-product">
        <div class="add-product-left">
            <h2>Thêm sản phẩm mới</h2>
              <div class="form-add-product">
                <label for="addproductname">Product name</label>
                <input type="email" class="form-name-product" id="addproductname" placeholder="product's name">
              </div>
              <div class="form-add-product">
                    <label for="addproductcategory">Product category</label>
                    <select class="form-category-product" id="addproductcategory">
                        <option>Tóc</option>
                        <option>Mặt</option>
                        <option>Mắt</option>
                        <option>Mũi</option>
                        <option>Body</option>
                    </select>
              </div>
  <div class="form-add-product">
    <label for="addaboutproduct">Description</label>
    <textarea class="form-description" id="addaboutproduct" rows="3"></textarea>
  </div>
        </div>
        <div class="add-product-right">
            <div class="form-product-right">
              <div class="form-add-product">
                    <label for="addproductsex">Giới tính</label>
                    <select class="form-control" id="addproductsex">
                        <option>Nam</option>
                        <option>Nữ</option>
                        <option>Nam & Nữ</option>
                    </select>
              </div>
              <div class="form-add-product">
                <label for="addproductprice">Giá</label>
                <input type="text" class="form-price-product" id="addpricename" placeholder="Giá trị sản phẩm">
              </div>
              <div class="form-add-product">
                <label for="addproductquantity">Số lượng</label>
                <input type="text" class="form-quantity-product" id="addproductquantity" placeholder="Số lượng sản phẩm">
              </div>
            </div>
            <div class="form-product-right">
              <div class="form-add-product">
                <label for="addproductcode">Code</label>
                <input type="text" class="form-code-product" id="addproductcode" placeholder="Mã sản phẩm">
              </div>
              <div class="form-add-product">
                <label for="addproductsize">Kích thước</label>
                <input type="text" class="form-size-product" id="addsizeproduct" placeholder="Kích thước sản phẩm">
              </div>
              <div class="form-add-product">
                <label for="addproducttype">Loại</label>
                <select class="form-type-product" id="addproducttype">
                        <option>Tinh dầu(Serum)</option>
                        <option>Kem</option>
                        <option>Nước hoa</option>
                    </select>
              </div>
            </div>
            <div class="form-product-right">
              <div class="form-add-product">
                <label for="addproductimg">Hình ảnh sản phẩm</label>
                <input type="file" class="form-img-product" id="addproductimg"  placeholder="Hình ảnh sản phẩm" accept="image/*">
              </div>
            </div>
            <button>Add new product</button>
    </div>
</div>
</div>